body {
  background-color: rgb(251, 251, 255);
  color: #111994;
  padding: 20px;
}

.dropzone {
  border: 2px dashed rgba(73, 116, 196, 0.2);
  border-radius: 10px;
  padding: 50px 0;
  text-align: center;
  text-transform: uppercase;
  color: rgba(5, 107, 147, 0.6);
}

.dropzone.active {
  border-color: rgb(4, 61, 167);
}